<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href="../data/css/bootstrap.min.css" rel="stylesheet">
    <link href="../data/css/history.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h2>History</h2>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <form role="form">
            <input class="form-control" placeholder="Search..." type="search" id="query" name="query">
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="history-items">
            <div id="history-list-view"></div>
          </div>
        </div>
      </div>
    </div>


    <script type="text/template" id="history-item-template">
        <div class="media">
          <a class="pull-left media-left">
            <% if (hasImage()) { %>
            <img class="media-object center-block img-responsive" src="<%= image() %>">
            <% } %>
          </a>
          <div class="media-body">
            <h4 class="media-heading" title="<%= title() %>">
              <img class="favicon" src="<%= favicon() %>"> <%= title() %>
              <p class="small text-info host"><%= get('host') %></p>
            </h4>
            <% if (description()) { %>
              <blockquote class="text-muted"><%= description() %></blockquote>
            <% } %>
            <p class="pull-left text-muted"><%= get('twitter:site') %> <%= get('twitter:creator') ? " via " : "" %><%= get('twitter:creator') %></p>
            <p class="pull-right text-muted"><%= get('time').calendar() %>  &mdash; <%= get('time').fromNow() %></p>
          </div>
        </div>
    </script>

    <script type="text/javascript" src="./jquery.js"></script>
    <script type="text/javascript" src="../data/js/moment-with-langs.min.js"></script>
    <script type="text/javascript" src="./underscore.js"></script>
    <script type="text/javascript" src="./backbone.js"></script>
    <script type="text/javascript" src="./test.js"></script>
    <script type="text/javascript" src="../data/history-pagemod.js"></script>

  </body>
</html>