@font-face{
  font-family: 'FiraLight';
  src: url('../fonts/FiraSansOT-Light.otf') format("opentype");
}

@font-face{
  font-family: 'FiraRegular';
  src: url('../fonts/FiraSansOT-Regular.otf') format("opentype");
}

@font-face{
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.ttf');
}

h2 {
  font-family: FiraRegular, Helvetica, sans-serif;
  color: #424F59;
  font-size: 24px;
  margin-top: 40px;
}

body {
  font-family: ClearSans, Helvetica, sans-serif;
  color: #424F59;
}

a {
  color: #424F59;
  text-decoration: none;
}

a:hover {
  color: #0092DB;
  text-decoration: underline;
}

.title {
  font-family: ClearSans, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #424F59;
  text-decoration: none;
}

.title:hover {
  color: #0092DB;
  text-decoration: underline;
}

h2 .text-muted {
  font-family: FiraLight, Helvetica, sans-serif;
  color:#A0A7AC;
  font-size: inherit;
}

.text-muted {
  font-size: 12px;
}

#date-back,
#date-forward {
  font-family: ClearSans, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  position: fixed;
  top: 45%;
/*  background-color: #8A9BA8;
  opacity: 0.25;*/
}
#date-back {
  background-image: url('../images/back.png');
  background-color: transparent;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 54px;
  left: 0;
  margin-left: -5px;
  text-align: left;
  padding-top: 8px;
  padding-left: 45px;
  z-index: 9999;
}

#date-back:hover {
  background-image: url('../images/hover_back.png');
}

#date-forward {
  background-image: url('../images/forward.png');
  background-color: transparent;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 54px;
  right: 0;
  margin-right: -5px;
  text-align: right;
  padding-top: 8px;
  padding-right: 45px;
  z-index: 9999;
}

#date-forward:hover {
  background-image: url('../images/hover_forward.png');
}

#date {
  border: 1px solid #8A9BA8;
  height: 30px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #424F59;
}

#date:hover {
  background-color: #0092DB;
  color: white;
}

li.history {
  margin-bottom: 10px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height:25px;
  border: 5px solid #f4f4f4;
  float: left;
}
.selected .circle {
  background-color: #55acee;
  border: 5px solid #55acee;
}
.line {
  margin: 11px 0;
  border: 1px solid #f4f4f4;
}
.selected .line {
  border-color: #55acee;
}

.time {
  white-space: nowrap;
  color: #424F59;
  font-size: 14px;
  padding-left: 30px;
}
.icon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
div.favicon {
  width: 16px;
}
img.favicon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.image {
  max-height: 90px;
  max-width: 125px;
}

.bookmarked {
  display: inline-block;
  position: absolute;
  background-image: url('../images/bookmarked.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: -24px;
  left: 62px;
}

.twitter-handle {
  color: #55acee;
}
.twitter-handle:hover {
  color: #55acee;
}
.action-open,
.action-ellipsis {
  cursor: pointer;
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #424F59;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #8A9BA8;
  border-radius: 5px;
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  transition: border-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}

.btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
/*  padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
}

.btn-sm {
  position: absolute;
  background-image: url('../images/expand.png');
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-top: -2px;
}

.btn-sm:hover {
  outline: 0px none;
  background-image: url('../images/hover_expand.png');
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.btn:hover, .btn:focus {
  color: #424F59;
  text-decoration: none;
}

.action-expand.btn.active {
  outline: 0px none;
  background-image: url('../images/minimize.png');
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  box-shadow: none;
}

blockquote {
  font-family: ClearSans, Helvetica, sans-serif;
  font-size: 14px;
  color: #424F59;
  padding: 0px 20px;
  margin: 10px 0px 10px 0px;
  border-left: 4px solid #F4F4F4;
}

.hide, .day.disabled {
  display: none;
}
