li.history {
  margin: 25px 0;
}
.btn-expander {
  margin-top: 5px;
  color: #aaa;
  cursor: pointer;
}
.time {
  white-space: nowrap;
}
.icon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
div.favicon {
  width: 16px;
}
img.favicon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.image {
  max-height: 180px;
}
.bookmark {
  border: 1px solid black;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.bookmark.saved {
  background-color: yellow;
}
.twitter-handle {
  color: #55acee;
}
