@font-face{
  font-family: 'FiraLight';
  src: url('../fonts/FiraSansOT-Light.otf') format("opentype");
}

@font-face{
  font-family: 'FiraRegular';
  src: url('../fonts/FiraSansOT-Regular.otf') format("opentype");
}

@font-face{
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.ttf');
}

.text-muted {
  font-family: FiraLight, Times, Helvetica, sans-serif;
  color:#424F59;
}

h2 {
  font-family: FiraRegular, Times, Helvetica, sans-serif;
  color: #424F59;
  font-size: 24px;
  margin-top: 40px;
}

body {
  font-family: ClearSans, Times, Helvetica, sans-serif;
  color: #424F59;
}

#date-back,
#date-forward {
  position: fixed;
  top: 45%;
  background-color: #E1E6EB;
}
#date-back {
  left: 0;
}
#date-forward {
  right: 0;
}

#date {
  border: 1px solid #8A9BA8;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #424F59;
}

#date:hover {
  background-color: #0092DB;
  color: white;
}

li.history {
  margin-bottom: 10px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height:25px;
  border: 5px solid #f4f4f4;
  float: left;
}
.line {
  margin: 11px 0;
  border: 1px solid #f4f4f4;
}

.time {
  white-space: nowrap;
  color: #424F59;
  font-size: 14px;
  padding-left: 30px;
}
.icon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
div.favicon {
  width: 16px;
}
img.favicon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.image {
  max-height: 90px;
  max-width: 125px;
}
.bookmarked {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../images/bookmarked.png');
  background-repeat: no-repeat;
  top: -24px;
  left: 62px;
}
.twitter-handle {
  color: #55acee;
}
.twitter-handle:hover {
  color: #55acee;
}
.action-open,
.action-ellipsis {
  cursor: pointer;
}

.title {
  color: #000;
  font-weight: bold;
}
.title:hover {
  color: #000;
  text-decoration: none;
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #424F59;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #8A9BA8;
  border-radius: 5px;
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/*.btn-default {
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

.btn-default:hover {

}*/

.btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
/*  padding: 6px 12px;*/
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
}

.btn-sm {
  position: absolute; 
  margin-top: -2px;
  height: 30px;
  width: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
}








