#date-back,
#date-forward {
  position: fixed;
  top: 45%;
}
#date-back {
  left: 0;
}
#date-forward {
  right: 0;
}
#date {
  border: none;
  font-weight: bold;
  padding: 5px 2px;
}
li.history {
  margin-bottom: 10px;
}
.line {
  margin: 10px 0;
}
.action-expand {
  position: absolute;
  top: -5px;
  color: #aaa;
}
.time {
  white-space: nowrap;
}
.icon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
div.favicon {
  width: 16px;
}
img.favicon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.image {
  max-height: 180px;
}
.bookmarked {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../images/bookmarked.png');
  background-repeat: no-repeat;
  top: -20px;
  left: -5px;
}
.twitter-handle {
  color: #55acee;
}
.action-open,
.action-ellipsis {
  cursor: pointer;
}
