@font-face{
  font-family: 'FiraLight';
  src: url('../fonts/FiraSansOT-Light.otf') format("opentype");
}

@font-face{
  font-family: 'FiraRegular';
  src: url('../fonts/FiraSansOT-Regular.otf') format("opentype");
}

@font-face{
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.ttf');
}

.text-muted {
  font-family: FiraLight, Times, Helvetica, sans-serif;
}

h2 {
  font-family: FiraRegular, Times, Helvetica, sans-serif;
}

body {
  font-family: ClearSans, Times, Helvetica, sans-serif;
}

#date-back,
#date-forward {
  position: fixed;
  top: 45%;
  background-color: #E1E6EB;
}
#date-back {
  left: 0;
}
#date-forward {
  right: 0;
}
#date {
  border: none;
  font-weight: bold;
  padding: 5px 2px;
}
li.history {
  margin-bottom: 10px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height:25px;
  border: 4px solid #f4f4f4;
  float: left;
}
.line {
  margin: 13px 0;
  border-color: #f4f4f4;
}
.action-expand {
  position: absolute;
  top: -5px;
  color: #aaa;
}
.time {
  white-space: nowrap;
  color: #51626E;
}
.icon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
div.favicon {
  width: 16px;
}
img.favicon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.image {
  max-height: 180px;
  max-width: 250px;
}
.bookmarked {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../images/bookmarked.png');
  background-repeat: no-repeat;
  top: -24px;
  left: -5px;
}
.twitter-handle {
  color: #55acee;
}
.action-open,
.action-ellipsis {
  cursor: pointer;
}

