.favicon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
.host {
  margin-left: 21px; /* 16 + 5 + 5 + 5 */
}
.media {
  cursor: pointer;
}
.media-heading {
  white-space: nowrap;
}
.media-object {
  max-width: 128px;
  max-height: 128px;
}
.media-left {
  width: 128px;
  min-height: 32px;
  max-height: 128px;
}
